<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{54} &lt;%M&gt; - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.liadov.cat" level="trace" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>